body{ 
    background-color: bisque;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.recipe-container {
    background-color: rgb(255, 255, 255);
    padding-left: 30px;
    padding-bottom: 20px;
    line-height: 1.4;
    border-radius: 8px;
    padding-right: 50px;
    text-align: justify;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
div{
    background-color: rgb(252, 232, 230);
    border-radius: 9px;
    padding-top: auto;
    padding-left: 30px;
    padding-bottom: 10px;
}
ul{
   text-align: left;
}

h2{
    color: brown;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h2{
    color: darkred;
}
h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h3{
    color: darkred;
    }
table, th, td {
    border-collapse: collapse;
    text-align: justify;
    border-bottom-style: solid;
    margin: 0 auto;
    align-items: center;
    width: 80%;
    border-color: brown;
}